/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    background: crimson;
    padding: 15px 23px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
}


  
/* home section styling */
.home{
    display: flex;
    background: url("images/Profile\ B.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 40px;
    
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px blue;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: blue;
    background: none;
}


/* about section styling */
.container{
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background: url(images/image7.jpg);
    
    
   

}
h1{
    text-align: center;
}
.sec-1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.ed-1{
    margin-left: 10.5%;
}

.ed-2{
    margin-right: 10%;
}

.sec-2{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.exp{
    margin-left: 10%;
}

.hob{
    margin-right: 27.5%;
}

#param{
    text-align: center;
}



/*project section*/
.pro{
    font-family: 'Ubuntu', sans-serif;
    height: 70vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    
}
.pt-1 img{
    height: 200px;
    width: 250px;
}




.pro .pt-1 a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px blue;
    transition: all 0.3s ease;
}

.pro .pt-1 a:hover{
    color: blue;
    background: none;
}
/* footer section styling */
footer{
    background:crimson;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span {
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


